footer.l-footer
  article
    h3 About Us
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, autem!
    ul
      li.social
        +link('twitter-icon', 'https://twitter.com', true )
      li.social
        +link('fb-icon', 'https://facebook.com', true )
      li.social
        +link('linkedin-icon', 'https://linkedin.com', true )
      li.social
        +link('github-icon', 'https://github.com', true )
  article
    h3 Subscription
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, fugiat!
    form
      label(for='email') Suscribe to our newsletter
      input(type='email' name='email' placeholder='enter your email')
      input(type='submit' value='Suscribe')
  nav.l-footer-nav(aria-label='Footer Navigation')
    p
      | &#xF12F; 2021 
      a(href='https://linkedin.com/in/pablopenia') Pablo Pe&ntilde;a
      | . No rights reserved.
    ul
      li
        a(href='#') Terms and Conditions
      li
        a(href='#') Privacy Policy
      li
        a(href='#') GDPR Policy
