header.l-header
  +link('expand-icon', '#top')
    h1 CMS Themes
  nav(aria-label='Main Navigation')
    a(href='#templates') Templates
    a(href='#plugins') Plugins
    a(href='#testimonials') Testimonials