main
  include ./components/_featured
  include ./components/_templates
  include ./components/_plugins
  include ./components/_testimonials
- // Back to <Main>
  a.top(href='#top')
    svg(aria-hidden='true' role='img')
      use(xlink:href='#top-btn')