main
  include ./components/_featured
  include ./components/_themes
  include ./components/_plugins
  include ./components/_testimonials
  a.top(href='#top')
    svg(aria-hidden='true' role='img')
      use(xlink:href='#top-btn')