include ./abstracts/_mixins
doctype html
html(class="no-js" lang="en")
  head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Montserrat:ital,wght@0,400;1,400;1,500&display=swap' rel='stylesheet')
    link(href='assets/styles.min.css' rel='stylesheet')
    script(src="assets/vendor/modernizr-custom.js")
    script(src="assets/app.min.js")  
    title Landing Page | CMS Templates
  body 
    include ../svg/sprite.svg
    include ./partials/_header
    include ./partials/_main
    include ./partials/_footer