article.l-featured(aria-label='Featured')
  h1 Premium Web Templates
  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
  .l-featured__video-wrapper
    iframe(src='https://embed.wave.video/611fd01746e0fb000137bf15' allow='autoplay; fullscreen' title='Promo video for featured content')
  section.l-featured__video-sum(aria-label='Summary')
    h2 Featured Item
    ul
      li High Quality
      li Responsive Design
      li SEO Ready
      li Custom CSS
      li Free updates and support
      li
        | Available for most popular CMS
        ul
          li
            +icon('wp-icon', 'cms-icon')
          li
            +icon('drupal-icon', 'cms-icon')
          li
            +icon('joomla-icon', 'cms-icon')
          li
            +icon('grav-icon', 'cms-icon')
          li
            +icon('html-icon', 'cms-icon')
    a.btn.btn--green(href='#' title='Purchase this template') Purchase
    a(href='#') See details and demo  here
  h3 Key Features
  p
    | Extended information about the featured item. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolorum autem dolor quam amet magnam repellat eaque deleniti maxime tempora enim, pariatur nisi at est optio non, impedit rem modi.
  ul.l-featured__features
    li
      +icon('preset-icon')
        span 3 preset styles
    li
      +icon('menu-icon')
        span Mega Men&uacute;
    li
      +icon('layout-icon')
        span Block variations
    li
      +icon('expand-icon')
        span responsive
    li
      +icon('icons-icon')
        span social icons
    li
      +icon('tpl-icon')
        span layout manager
    li
      +icon('plugin-icon')
        span Accesibility
  a.btn.btn--violet(href='#' title='Extended information about this template') Details
  a.btn.btn--violet(href='#' title='Live demo site') Demo