nav(aria-label='Main Navigation')
  button#toggle(aria-expanded='false')
    span Menu
  ul
    li
      a.nav-link(href='#templates') Templates
    li
      a.nav-link(href='#plugins') Plugins
    li
      a.nav-link(href='#testimonials') Testimonials