article#plugins.l-plugins(aria-label='Plugins')
  h2 Plugins
  p
    | Our plugins enhances and adds extra functionalities to your site. These empowering add-ons range from extra payment gateways to boost your online sales potential by offering your users more payment options to online booking and appointment plugins.
  article
    h3 SEO Plugin
    +icon('tpl-icon', 'l-plugins__icon')
    p
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, exercitationem!
    a.btn.btn--green(href='#') Details
  article
    h3 Mega Menu
    +icon('tpl-icon', 'l-plugins__icon')
    p
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, exercitationem!
    a.btn.btn--green(href='#') Details
  article
    h3 Ads Plugin
    +icon('tpl-icon', 'l-plugins__icon')
    p
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, exercitationem!
    a.btn.btn--green(href='#') Details
  a.btn.btn--violet(href='#') See all plugins