article.l-templates(aria-label='Templates')
  h2 Templates
  p
    | New Templates are being released regularly featuring modern and responsive design. Our powerful framework makes our products easy to install, customize, and deploy.
  .l-templates__cards
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Tribute Page
      p Fast and simple Tribute Page featuring Cliff Burton.
      a.btn.btn--violet(href='https://codepen.io/3dm777/full/GRNRJRK' target='blank') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 D&amp;S Survey
      p Survey form template for gaming surveys. Responsive Design
      a.btn.btn--violet(href='https://codepen.io/3dm777/full/vYyGJWN' target='blank') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Landing Page
      p
        | Fluid template using flexbox, grid and svg icon sprites. Responsive and accessible
      a.btn.btn--violet(href='https://codepen.io/3dm777/full/ZEyWWav' target='blank') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Technical Docs
      p Coming soon... Lorem ipsum dolor sit amet consectetur.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Portfolio
      p Coming soon... Lorem ipsum dolor sit amet.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Technical Docs
      p Coming soon... Lorem ipsum dolor sit amet.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Cool Template
      p Coming soon... Lorem ipsum dolor sit amet.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Cool Template
      p Coming soon... Lorem ipsum dolor sit amet.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
  a.btn.btn--violet(href='#') See all templates