article#testimonials.l-testimonials(aria-label='Testimonials')
  h2 Why choose Our Products
  p
    | Our vast collection includes themes for event portals and responsive business directory themes, travel agencies and tourism business themes, online booking and ecommerce themes. Our collection also includes dedicated Plugins and Icon sets for each design.
  article
    h3 Premium Designs
    +icon('tpl-icon', 'l-testimonials__icon')
    p
      | Our products feature an amazing variety of design styles, colors, and cutting edge techniques to provide the perfect design for any project.
    a.btn.btn--violet(href='#') See Gallery
  article
    h3 Powerfull Features
    +icon('preset-icon', 'l-testimonials__icon')
    p
      | State of the art features and functionality provide your projects with everything needed for incredible user experiences.
    a.btn.btn--violet(href='#') List Features
  article
    h3 Documentation
    +icon('menu-icon', 'l-testimonials__icon')
    p
      | Explore the latest in-depth documentation and information concerning all our Templates and Plugins.
    a.btn.btn--violet(href='#') See Docs
  aside
    h3 Our Customers
    ul
      li
        +icon('airtable-logo', 'brand-logo')
      li
         +icon('discord-logo', 'brand-logo')
      li
         +icon('hankook-logo', 'brand-logo')
      li
        +icon('hubspot-logo', 'brand-logo')
      li
        +icon('kia-logo', 'brand-logo')
      li
        +icon('linkedin-logo', 'brand-logo')
      li
        +icon('rainbow-logo', 'brand-logo')
    section
      figure
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        figcaption - Chloe Decker
      figure
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        figcaption - Samantha Carther
      figure
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        figcaption - Dean Winchester
      figure
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        figcaption - Mary Jane