article#themes.l-themes(aria-label='Themes')
  h2 Themes
  p
    | New Themes are being released regularly featuring modern and responsive design. Our powerful framework makes our products easy to install, customize, and deploy.
  .l-themes__cards
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Theme 01
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a.btn.btn--violet(href='https://codepen.io/3dm777/full/GRNRJRK' target='blank') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Theme 02
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a.btn.btn--violet(href='https://codepen.io/3dm777/full/vYyGJWN' target='blank') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Theme 03
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a.btn.btn--violet(href='https://codepen.io/3dm777/full/ZEyWWav' target='blank') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Theme 04
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Theme 05
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Theme 06
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Theme 07
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
    article
      img(src='https://via.placeholder.com/500' alt='')
      a(href='#')
        h3 Theme 08
      p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      a.btn.btn--violet(href='#') Demo
      a.btn.btn--green(href='#') Purchase
  a.btn.btn--violet(href='#') See all templates